body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}
.profile {
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}
.upload {
    position: fixed;
    bottom: 0;
    width: 70%;
}
.message {
    display:block;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #B5DBE8;
    border-radius: 15px;
    min-width: 50px;
    width: 40%;
}
.chat-box {
    height:350px;
    overflow-y:scroll;
}
.chat-message {
    height: 150px;
}
.chat-pic {
    height: auto;
}
.blk {
    background-color: black;
}
.rd {
    background-color: red;
}
.enter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture-detail {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 15px;
}
.disp a {
    margin-bottom: 10px;
}
.cht {
    margin-top: 15px;
}
.main-page {
    margin-top: 50px;
}
.map-container {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
}

  