<template name="parties">
	<div class="container">
		<div class="col s12">
			<div class="map-container">
				{{> googleMap name="partiesMap" options=partiesMapOptions}}
			</div>
		</div>
	</div>
</template>