<template name="user_info">
    <ul class="collection">
        <li class="collection-item">{{username}}</li>
        <li class="collection-item">{{email}}</li>
        <li class="collection-item">{{info}}</li>
    </ul>
</template>