<template name="user">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="col s2">
            <img src="{{avatar}}" class="circle responsive-img profile">
        </div>
    </div>
</template>